{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container flex-column justify-content-center align-items-center">
        <h1>Login</h1>
        <section class="d-flex justify-content-center align-items-center w-100">
            <form method="post" class="form-control">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-success">Login</button>
                <br>
                <hr>
                <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
            </form>
        </section>
    </section>
{% endblock content %}