{% extends 'base.html' %}
{% load static %}


{% block title %}
    Forgot Your Password?
{% endblock title %}
{% block content %}
    <section class="container">
        <section class="col-6">
            <h1>Forgot Your Password?</h1>
            <p>
                Please enter your email address, and we'll email instruction for setting a new one.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Send me instructions!" class="btn btn-success">
            </form>
        </section>
    </section>
{% endblock content %}