{% extends 'base.html' %}
{% load static %}


{% block title %}
    Forgot Your Password?
{% endblock title %}
{% block content %}
    <section class="container">
        <section class="col-6">
            <h1>Set a new password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Change Password" class="btn btn-success">
            </form>
        </section>
    </section>
{% endblock content %}