{% extends 'base.html' %}
{% load static %}


{% block title %}

{% endblock title %}
{% block content %}
    <section class="container">
        <section class="col-6">
            <h1>Password Change</h1>
            <p>
                Please enter your old password, for security's sake, and then enter your new password twice so we can typed it in correctly.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Change Password" class="btn btn-success">
            </form>
        </section>
    </section>
{% endblock content %}